
section {
    height: 500px;
    background-color: rgba(0, 2, 146, 0.589);
    border: solid black 1px;     

}

.hero {
    background-color: #1c1d1c;
    height: 100vh;
    color: white;
    font-size: 40px;

}


footer {
  height: 500px;
  background-color: blueviolet;  

}

nav {
    display: flex;
    justify-content: space-between;

}


ul {
    display: flex;
}

li {
    width: 200px;
    text-decoration: none;
}